# Production Dataset

In [1]:
import pandas as pd
import numpy as np
import uuid
import random
from faker import Faker
import string
from datetime import datetime, timedelta

In [2]:
df = pd.read_csv("vehicles.csv")

In [3]:
def fill_na(column):
    actual = column.dropna().tolist()
    return column.apply(lambda x: x if pd.notna(x) else random.choice(actual))

def fill_na_vin(column):
    actual = column.dropna().tolist()
    vin_chars = string.ascii_uppercase.replace('I', '').replace('O', '').replace('Q', '') + string.digits

    def generate_random_vin():
        return ''.join(random.choices(vin_chars, k=17))
    
    return column.apply(lambda x: x if pd.notna(x) else generate_random_vin())

def generate_random_dates(n, start_date, end_date):
    start_u = start_date.value // 10**9
    end_u = end_date.value // 10**9
    return pd.to_datetime(np.random.randint(start_u, end_u, n), unit='s')

In [4]:
df = df[27:]
df = df.reset_index().drop(["county", "size", "index"], axis=1)

In [5]:
df['drive'] = fill_na(df['drive'])
df['cylinders'] = fill_na(df['cylinders'])
df['paint_color'] = fill_na(df['paint_color'])
df['model'] = fill_na(df['model'])
df['manufacturer'] = fill_na(df['manufacturer'])
df['condition'] = fill_na(df['condition'])
df['fuel'] = fill_na(df['fuel'])
df['type'] = fill_na(df['type'])
df['VIN'] = fill_na_vin(df['VIN'])

df['cylinders'] = df['cylinders'].str.extract('(\d+)').astype(float)
df['cylinders'].fillna(df['cylinders'].dropna().sample(n=1).values[0], inplace=True)
df['cylinders'] = df['cylinders'].astype(int)


df['paint_color'] = df['paint_color'].replace('custom', 'white')
df['transmission'] = df['transmission'].replace('other', 'automatic')

df = df.rename(columns={
    "VIN": "vin"
})

end_date = pd.to_datetime('now')
start_date = end_date - pd.DateOffset(years=1)
df['posting_date'] = generate_random_dates(len(df), start_date, end_date)

df

C:\Users\siddh\anaconda3\lib\site-packages\pandas\core\arrays\datetimes.py:2224: FutureWarning: The parsing of 'now' in pd.to_datetime without `utc=True` is deprecated. In a future version, this will match Timestamp('now') and Timestamp.now()
  result, tz_parsed = tslib.array_to_datetime(

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,vin,drive,type,paint_color,image_url,description,state,lat,long,posting_date
0,7316814884,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,33590,2014.0,gmc,sierra 1500 crew cab slt,good,8,...,3GTP1VEC4EG551563,fwd,pickup,white,https://images.craigslist.org/00R0R_lwWjXSEWNa...,Carvana is the safer way to buy a car During t...,al,32.590000,-85.480000,2024-04-27 18:30:59
1,7316814758,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,22590,2010.0,chevrolet,silverado 1500,good,8,...,1GCSCSE06AZ123805,fwd,pickup,blue,https://images.craigslist.org/00R0R_lwWjXSEWNa...,Carvana is the safer way to buy a car During t...,al,32.590000,-85.480000,2024-02-28 18:59:04
2,7316814989,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,39590,2020.0,chevrolet,silverado 1500 crew,good,8,...,3GCPWCED5LG130317,4wd,pickup,red,https://images.craigslist.org/01212_jjirIWa0y0...,Carvana is the safer way to buy a car During t...,al,32.590000,-85.480000,2024-05-09 23:21:35
3,7316743432,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,30990,2017.0,toyota,tundra double cab sr,good,8,...,5TFRM5F17HX120972,4wd,pickup,red,https://images.craigslist.org/00x0x_1y9kIOzGCF...,Carvana is the safer way to buy a car During t...,al,32.590000,-85.480000,2023-11-01 02:05:15
4,7316356412,https://auburn.craigslist.org/cto/d/auburn-uni...,auburn,https://auburn.craigslist.org,15000,2013.0,ford,f-150 xlt,excellent,6,...,UZ6APLWVZM7ZN6W63,rwd,truck,black,https://images.craigslist.org/00404_l4loxHvdQe...,2013 F-150 XLT V6 4 Door. Good condition. Leve...,al,32.592000,-85.518900,2024-05-19 07:11:15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426848,7301591192,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,23590,2019.0,nissan,maxima s sedan 4d,good,6,...,1N4AA6AV6KC367801,fwd,sedan,red,https://images.craigslist.org/00o0o_iiraFnHg8q...,Carvana is the safer way to buy a car During t...,wy,33.786500,-84.445400,2023-11-09 23:35:42
426849,7301591187,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,30590,2020.0,volvo,s60 t5 momentum sedan 4d,good,6,...,7JR102FKXLG042696,fwd,sedan,red,https://images.craigslist.org/00x0x_15sbgnxCIS...,Carvana is the safer way to buy a car During t...,wy,33.786500,-84.445400,2023-09-17 08:04:41
426850,7301591147,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,34990,2020.0,cadillac,xt4 sport suv 4d,good,4,...,1GYFZFR46LF088296,fwd,hatchback,white,https://images.craigslist.org/00L0L_farM7bxnxR...,Carvana is the safer way to buy a car During t...,wy,33.779214,-84.411811,2023-11-18 23:26:41
426851,7301591140,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,28990,2018.0,lexus,es 350 sedan 4d,good,6,...,58ABK1GG4JU103853,fwd,sedan,silver,https://images.craigslist.org/00z0z_bKnIVGLkDT...,Carvana is the safer way to buy a car During t...,wy,33.786500,-84.445400,2024-02-01 14:48:21
426852,7301591129,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,30590,2019.0,bmw,4 series 430i gran coupe,good,4,...,WBA4J1C58KBM14708,rwd,coupe,white,https://images.craigslist.org/00Y0Y_lEUocjyRxa...,Carvana is the safer way to buy a car During t...,wy,33.779214,-84.411811,2023-10-26 18:57:54

In [6]:
df.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'vin', 'drive', 'type', 'paint_color', 'image_url',
       'description', 'state', 'lat', 'long', 'posting_date'],
      dtype='object')

In [7]:
unique_cars = df[['manufacturer', 'model']].drop_duplicates().reset_index(drop=True)
unique_cars['car_id'] = range(1, len(unique_cars) + 1)

cars_table = df[["id", "manufacturer", "model", "drive", "cylinders", "transmission", "paint_color"]]

cars_table = cars_table.merge(unique_cars, on=['manufacturer', 'model'], how='left').drop_duplicates().reset_index(drop=True)

cars_table

,id,manufacturer,model,drive,cylinders,transmission,paint_color,car_id
0,7316814884,gmc,sierra 1500 crew cab slt,fwd,8,automatic,white,1
1,7316814758,chevrolet,silverado 1500,fwd,8,automatic,blue,2
2,7316814989,chevrolet,silverado 1500 crew,4wd,8,automatic,red,3
3,7316743432,toyota,tundra double cab sr,4wd,8,automatic,red,4
4,7316356412,ford,f-150 xlt,rwd,6,automatic,black,5
...,...,...,...,...,...,...,...,...
426848,7301591192,nissan,maxima s sedan 4d,fwd,6,automatic,red,1099
426849,7301591187,volvo,s60 t5 momentum sedan 4d,fwd,6,automatic,red,56
426850,7301591147,cadillac,xt4 sport suv 4d,fwd,4,automatic,white,28
426851,7301591140,lexus,es 350 sedan 4d,fwd,6,automatic,silver,1295
426852,7301591129,bmw,4 series 430i gran coupe,rwd,4,automatic,white,4904

In [8]:
colors = df["paint_color"].dropna().unique()
colors_table = pd.DataFrame(colors, columns=["color"])

hex_dict = {
    'black': '#000000',
    'blue': '#0000FF',
    'brown': '#A52A2A',
    'green': '#008000',
    'grey': '#808080',
    'orange': '#FFA500',
    'purple': '#800080',
    'red': '#FF0000',
    'silver': '#C0C0C0',
    'white': '#FFFFFF',
    'yellow': '#FFFF00',
}

colors_table['hex'] = colors_table['color'].map(hex_dict)

colors_table

     color      hex
0    white  #FFFFFF
1     blue  #0000FF
2      red  #FF0000
3    black  #000000
4   silver  #C0C0C0
5     grey  #808080
6    brown  #A52A2A
7   yellow  #FFFF00
8   orange  #FFA500
9    green  #008000
10  purple  #800080

In [9]:
fake = Faker()

num_users = 500

user_data = {
    'user_id': random.sample(range(10000000, 100000000), num_users), # 8 digit user_id
    'first_name': [fake.first_name() for _ in range(num_users)],
    'last_name': [fake.last_name() for _ in range(num_users)],
    'email': [fake.email() for _ in range(num_users)],
    'date_of_birth': [fake.date_of_birth(minimum_age=18, maximum_age=90) for _ in range(num_users)],
    'password': [fake.password(length=10, special_chars=True, digits=True, upper_case=True, lower_case=True) for _ in range(num_users)]
}

users_table = pd.DataFrame(user_data)
users_table

,user_id,first_name,last_name,email,date_of_birth,password
0,27371885,Stacy,Gross,austin62@example.com,1963-04-03,(OO$pl!Jk2
1,42312979,Kayla,Parrish,dlopez@example.com,1968-08-15,r+FQ+0PplH
2,46296224,Dana,Cline,weberphilip@example.com,1979-09-18,4f6oN&pf(!
3,38098518,Jose,Tucker,bairdapril@example.com,1946-03-09,GMG8zXPf%^
4,58563569,Amanda,Miller,mcdonaldmiranda@example.net,1962-05-07,(4K%gcV@Rb
...,...,...,...,...,...,...
495,10810757,Linda,Lee,mark63@example.org,1998-03-29,$6Szbsx0@b
496,73830688,James,Delgado,albertglover@example.org,1982-07-15,j@Ka4@Nr3G
497,23946605,Charles,Hunter,claudia59@example.org,1960-07-02,VS7^CqLB%B
498,44298622,Rebecca,Ward,jameschavez@example.net,1945-12-31,@SdBii_u55
499,89760932,Julie,Gregory,mooremichele@example.com,1942-07-23,UG4tJql+!+

In [10]:
num_rentals = 1000

rental_data = {
    'rental_id': random.sample(range(1000000000, 10000000000), num_rentals), # 10 digit rental_id
    'car_id': [random.choice(cars_table['car_id']) for _ in range(num_rentals)],
    'user_id': [random.choice(users_table['user_id']) for _ in range(num_rentals)],
    'rent_date': [fake.date_this_year(before_today=True, after_today=False) for _ in range(num_rentals)],
}

num_active = num_rentals // 2
num_inactive = num_rentals - num_active

# active rentals
active_rent_dates = [fake.date_this_year(before_today=True, after_today=False) for _ in range(num_active)]
active_return_dates = [(pd.to_datetime(rent_date) + pd.to_timedelta(random.randint(1, 50), unit='d')).strftime('%Y-%m-%d')
                       for rent_date in active_rent_dates]

# inactive rentals
start_date = datetime.now() - timedelta(days=365 * 10)
inactive_rent_dates = [fake.date_between_dates(date_start=start_date, date_end=datetime.now() - timedelta(days=50))
                       for _ in range(num_inactive)]
inactive_return_dates = [(pd.to_datetime(rent_date) + pd.to_timedelta(random.randint(1, 50), unit='d')).strftime('%Y-%m-%d')
                         for rent_date in inactive_rent_dates]

rental_data['rent_date'] = active_rent_dates + inactive_rent_dates
rental_data['return_date'] = active_return_dates + inactive_return_dates
rental_data['status'] = ['active'] * num_active + ['inactive'] * num_inactive
rentals_table = pd.DataFrame(rental_data)
rentals_table = rentals_table.sample(frac=1).reset_index(drop=True)

rentals_table

      rental_id  car_id   user_id   rent_date return_date    status
0    1780144280    1655  93744066  2015-03-02  2015-03-31  inactive
1    2863448024    1173  51578546  2018-03-26  2018-05-05  inactive
2    6251532736    3397  12906399  2024-04-04  2024-04-22    active
3    5959827110     207  84124936  2020-08-11  2020-09-18  inactive
4    4099689566      33  63297241  2017-02-22  2017-03-05  inactive
..          ...     ...       ...         ...         ...       ...
995  3995186419     877  91882858  2014-11-24  2014-12-15  inactive
996  1608386795    3430  48888504  2024-04-23  2024-04-24    active
997  1760676985    5759  31215000  2024-04-12  2024-05-02    active
998  8292737800   37898  67900973  2024-01-17  2024-02-14    active
999  3156308279    2887  35262703  2024-02-03  2024-03-07    active

[1000 rows x 6 columns]

In [11]:
listings_table = df[["id", "url", "region", "image_url", "description", "condition", "vin", "lat", "long", "state", "price", "posting_date"]]
listings_table["car_id"] = cars_table['car_id']

listings_table = listings_table.rename(columns={
    "url": "listing_url",
    "lat": "lat_id",
    "long": "long_id",
    "state": "state_id"
})

listings_table

C:\Users\siddh\AppData\Local\Temp\ipykernel_15940\3592155776.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings_table["car_id"] = cars_table['car_id']

,id,listing_url,region,image_url,description,condition,vin,lat_id,long_id,state_id,price,posting_date,car_id
0,7316814884,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://images.craigslist.org/00R0R_lwWjXSEWNa...,Carvana is the safer way to buy a car During t...,good,3GTP1VEC4EG551563,32.590000,-85.480000,al,33590,2024-04-27 18:30:59,1
1,7316814758,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://images.craigslist.org/00R0R_lwWjXSEWNa...,Carvana is the safer way to buy a car During t...,good,1GCSCSE06AZ123805,32.590000,-85.480000,al,22590,2024-02-28 18:59:04,2
2,7316814989,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://images.craigslist.org/01212_jjirIWa0y0...,Carvana is the safer way to buy a car During t...,good,3GCPWCED5LG130317,32.590000,-85.480000,al,39590,2024-05-09 23:21:35,3
3,7316743432,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://images.craigslist.org/00x0x_1y9kIOzGCF...,Carvana is the safer way to buy a car During t...,good,5TFRM5F17HX120972,32.590000,-85.480000,al,30990,2023-11-01 02:05:15,4
4,7316356412,https://auburn.craigslist.org/cto/d/auburn-uni...,auburn,https://images.craigslist.org/00404_l4loxHvdQe...,2013 F-150 XLT V6 4 Door. Good condition. Leve...,excellent,UZ6APLWVZM7ZN6W63,32.592000,-85.518900,al,15000,2024-05-19 07:11:15,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
426848,7301591192,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://images.craigslist.org/00o0o_iiraFnHg8q...,Carvana is the safer way to buy a car During t...,good,1N4AA6AV6KC367801,33.786500,-84.445400,wy,23590,2023-11-09 23:35:42,1099
426849,7301591187,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://images.craigslist.org/00x0x_15sbgnxCIS...,Carvana is the safer way to buy a car During t...,good,7JR102FKXLG042696,33.786500,-84.445400,wy,30590,2023-09-17 08:04:41,56
426850,7301591147,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://images.craigslist.org/00L0L_farM7bxnxR...,Carvana is the safer way to buy a car During t...,good,1GYFZFR46LF088296,33.779214,-84.411811,wy,34990,2023-11-18 23:26:41,28
426851,7301591140,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://images.craigslist.org/00z0z_bKnIVGLkDT...,Carvana is the safer way to buy a car During t...,good,58ABK1GG4JU103853,33.786500,-84.445400,wy,28990,2024-02-01 14:48:21,1295
426852,7301591129,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://images.craigslist.org/00Y0Y_lEUocjyRxa...,Carvana is the safer way to buy a car During t...,good,WBA4J1C58KBM14708,33.779214,-84.411811,wy,30590,2023-10-26 18:57:54,4904

In [12]:
import pandas as pd

state_data = {
    'state_id': ['al', 'ak', 'az', 'ar', 'ca', 'co', 'ct', 'dc', 'de', 'fl', 'ga',
                   'hi', 'id', 'il', 'in', 'ia', 'ks', 'ky', 'la', 'me', 'md', 'ma',
                   'mi', 'mn', 'ms', 'mo', 'mt', 'nc', 'ne', 'nv', 'nj', 'nm', 'ny',
                   'nh', 'nd', 'oh', 'ok', 'or', 'pa', 'ri', 'sc', 'sd', 'tn', 'tx',
                   'ut', 'vt', 'va', 'wa', 'wv', 'wi', 'wy'],
    'state_name': ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'District of Columbia', 
                   'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 
                   'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 
                   'Montana', 'North Carolina', 'Nebraska', 'Nevada', 'New Jersey', 'New Mexico', 'New York', 'New Hampshire', 
                   'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 
                   'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],
    'time_zone': ['Central', 'Alaska', 'Mountain', 'Central', 'Pacific', 'Mountain', 'Eastern', 'Eastern', 'Eastern', 'Eastern', 
                  'Eastern', 'Hawaii-Aleutian', 'Mountain', 'Central', 'Eastern', 'Central', 'Central', 'Eastern', 'Central', 
                  'Eastern', 'Eastern', 'Eastern', 'Eastern', 'Central', 'Central', 'Central', 'Mountain', 'Eastern', 'Central', 
                  'Pacific', 'Eastern', 'Mountain', 'Eastern', 'Eastern', 'Central', 'Eastern', 'Central', 'Pacific', 'Eastern', 
                  'Eastern', 'Eastern', 'Central', 'Central', 'Central', 'Mountain', 'Eastern', 'Eastern', 'Pacific', 'Eastern', 
                  'Central', 'Mountain']
}

states_table = pd.DataFrame(state_data)
states_table

   state_id            state_name        time_zone
0        al               Alabama          Central
1        ak                Alaska           Alaska
2        az               Arizona         Mountain
3        ar              Arkansas          Central
4        ca            California          Pacific
5        co              Colorado         Mountain
6        ct           Connecticut          Eastern
7        dc  District of Columbia          Eastern
8        de              Delaware          Eastern
9        fl               Florida          Eastern
10       ga               Georgia          Eastern
11       hi                Hawaii  Hawaii-Aleutian
12       id                 Idaho         Mountain
13       il              Illinois          Central
14       in               Indiana          Eastern
15       ia                  Iowa          Central
16       ks                Kansas          Central
17       ky              Kentucky          Eastern
18       la             Louisiana          Central
19       me                 Maine          Eastern
20       md              Maryland          Eastern
21       ma         Massachusetts          Eastern
22       mi              Michigan          Eastern
23       mn             Minnesota          Central
24       ms           Mississippi          Central
25       mo              Missouri          Central
26       mt               Montana         Mountain
27       nc        North Carolina          Eastern
28       ne              Nebraska          Central
29       nv                Nevada          Pacific
30       nj            New Jersey          Eastern
31       nm            New Mexico         Mountain
32       ny              New York          Eastern
33       nh         New Hampshire          Eastern
34       nd          North Dakota          Central
35       oh                  Ohio          Eastern
36       ok              Oklahoma          Central
37       or                Oregon          Pacific
38       pa          Pennsylvania          Eastern
39       ri          Rhode Island          Eastern
40       sc        South Carolina          Eastern
41       sd          South Dakota          Central
42       tn             Tennessee          Central
43       tx                 Texas          Central
44       ut                  Utah         Mountain
45       vt               Vermont          Eastern
46       va              Virginia          Eastern
47       wa            Washington          Pacific
48       wv         West Virginia          Eastern
49       wi             Wisconsin          Central
50       wy               Wyoming         Mountain

In [13]:
num_favorites = 750
favorite_data = {
    'id': [random.choice(cars_table['id']) for _ in range(num_favorites)],
    'user_id': [random.choice(users_table['user_id']) for _ in range(num_favorites)]
}

favorites_table = pd.DataFrame(favorite_data)
favorites_table['car_id'] = favorites_table['id'].map(cars_table.set_index('id')['car_id'].to_dict())

favorites_table

             id   user_id  car_id
0    7305418459  80018752    9197
1    7305728342  42184623   16401
2    7306912951  49050619    1057
3    7303865008  71804862       2
4    7309195248  37465766   15063
..          ...       ...     ...
745  7312748225  18170064    3389
746  7315441300  72344077   23859
747  7312301950  53544834    1505
748  7316244995  41509111    7061
749  7312917662  27623955     297

[750 rows x 3 columns]

In [14]:
# # save da files
# cars_table.to_csv('cars_table.csv', index=False)
# colors_table.to_csv('colors_table.csv', index=False)
# users_table.to_csv('users_table.csv', index=False)
# rentals_table.to_csv('rentals_table.csv', index=False)
# listings_table.to_csv('listings_table.csv', index=False)
# favorites_table.to_csv('favorites_table.csv', index=False)
# states_table.to_csv('states_table.csv', index=False)

# Sample Dataset

In [15]:
sample_df = df.sample(n=50).reset_index(drop=True)
sample_df

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,vin,drive,type,paint_color,image_url,description,state,lat,long,posting_date
0,7304740863,https://columbia.craigslist.org/cto/d/cayce-08...,columbia,https://columbia.craigslist.org,1600,2008.0,dodge,avenger,excellent,8,...,FX30XM2WS7X6UVFSJ,rwd,sedan,black,https://images.craigslist.org/00P0P_jqqA8ooSZH...,STILL AVAILABLE ->2008 Dodge Avenger $2500 Run...,sc,33.962600,-81.067100,2024-03-02 18:56:12
1,7315418880,https://dallas.craigslist.org/mdf/cto/d/grand-...,dallas / fort worth,https://dallas.craigslist.org,4400,2010.0,mazda,3,like new,4,...,Y284C5GUSFBRZDGTY,fwd,coupe,blue,https://images.craigslist.org/01010_fCRfOTjti4...,"hi i'm selling my car, in great condition 4 ne...",tx,32.750300,-96.972300,2024-03-05 05:25:53
2,7308351653,https://clarksville.craigslist.org/ctd/d/chatt...,clarksville,https://clarksville.craigslist.org,26990,2019.0,toyota,tacoma access cab sr,good,8,...,5TFRX5GN0KX157328,fwd,pickup,silver,https://images.craigslist.org/00N0N_1xMPvfxRAI...,Carvana is the safer way to buy a car During t...,tn,35.060000,-85.250000,2024-03-25 03:59:43
3,7316046880,https://boise.craigslist.org/ctd/d/boise-2009-...,boise,https://boise.craigslist.org,112,2009.0,volkswagen,jetta se,good,5,...,3VWRM71K39M097027,fwd,sedan,black,https://images.craigslist.org/00o0o_5xHXhjn9lt...,Liberty Motors STOCK #: 11041 ...,id,43.619114,-116.261580,2023-09-07 20:05:49
4,7316681092,https://danville.craigslist.org/ctd/d/eden-202...,danville,https://danville.craigslist.org,0,2021.0,ford,ranger,like new,4,...,1FTER1FH1MLD35335,4wd,sedan,grey,https://images.craigslist.org/00b0b_kop59xY3Q3...,Tri-City Ford Call Sales at 336-593-7359 2021 ...,va,36.478690,-79.738140,2024-05-17 01:35:21
5,7306586367,https://pueblo.craigslist.org/cto/d/fort-garla...,pueblo,https://pueblo.craigslist.org,4800,2008.0,ford,escape,good,6,...,VK0SZ95D6K9K1EG7L,4wd,sedan,green,https://images.craigslist.org/00E0E_ltdcWBdBVV...,"Car in good shape, transmission replaced a yea...",co,37.429587,-105.432484,2023-12-03 11:33:03
6,7316338679,https://sacramento.craigslist.org/ctd/d/sacram...,sacramento,https://sacramento.craigslist.org,23588,2020.0,nissan,altima 2.5 sr,good,4,...,1N4BL4CV6LC183654,fwd,sedan,white,https://images.craigslist.org/00808_gtJnUDeIzy...,2020 * Nissan * * Altima 2.5 SR * sedan Gu...,ca,38.610767,-121.422557,2023-11-21 09:10:54
7,7316636488,https://grandrapids.craigslist.org/cto/d/belmo...,grand rapids,https://grandrapids.craigslist.org,21900,2017.0,hyundai,santa fe,excellent,6,...,RDVY51W4F9NPK6H87,fwd,SUV,silver,https://images.craigslist.org/00k0k_aukGZcW1GW...,Three row seating AWD Single non smoker Leath...,mi,43.047661,-85.580063,2024-04-25 14:24:27
8,7316924521,https://greenville.craigslist.org/ctd/d/kerner...,greenville / upstate,https://greenville.craigslist.org,44995,2018.0,bmw,x5,like new,6,...,VAMBB4VN902GHNCFG,4wd,SUV,black,https://images.craigslist.org/00606_hnLPWNAoVf...,2018 BMW XDrive35I AWD 4DR SUV - Luxury!! Co...,sc,36.116500,-80.083100,2024-05-20 01:31:35
9,7313478798,https://albuquerque.craigslist.org/cto/d/albuq...,albuquerque,https://albuquerque.craigslist.org,3800,2005.0,subaru,putback,good,4,...,8KH50XCH7A5AAVRVM,4wd,wagon,white,https://images.craigslist.org/00F0F_3fyuCJ9C8m...,I have a 2005 Subaru outback for sale it has 2...,nm,35.134700,-106.642700,2024-02-04 06:30:59
10,7303213510,https://fortcollins.craigslist.org/ctd/d/longm...,fort collins / north CO,https://fortcollins.craigslist.org,15999,2005.0,jeep,wrangler,good,6,...,1J4FA49S85P386548,4wd,SUV,black,https://images.craigslist.org/00h0h_juUTugR1j9...,Victory Motors of Colorado STOCK #: L1...,co,40.182151,-105.102373,2023-12-02 16:08:54
11,7315009988,https://orlando.craigslist.org/ctd/d/2005-lexu...,orlando,https://orlando.craigslist.org,34300,2005.0,lexus,lx 470,good,8,...,T9RK5U8B2LBRFN66C,4wd,SUV,black,https://images.craigslist.org/00E0E_2Rs0U3cvFW...,Description: SUPER PREMIUM ICON DOBINSONS...,fl,NaN,NaN,2024-05-09 11:26:14
12,7308575011,https://columbus.craigslist.org/ctd/d/columbus...,columbus,https://columbus.craigslist.org,9317,2013.0,honda,civic cpe,excellent,4,...,WKRF787VUAM5JMXLJ,fwd,coupe,black,https://images.craigslist.org/01414_5FP3Y5rn6n...,Enormous Inventory!Call (or text) ☏ (614) 808-...,oh,40.064137,-82.998073,2023-11-17 18:21:00
13,7306921296,https://greensboro.craigslist.org/ctd/d/kerner...,greensboro,https://greensboro.craigslist.org,18991,2015.0,dodge,charger sxt,like new,8,...,PMBZ1R6G1WRNFTJ5N,rwd,SUV,blue,https://images.craigslist.org/00d0d_3sbpTmqN3X...,*** DELIVERY IN NC/SC/VA *** * TO VIEW THE FU...,nc,36.122560,-80.070741,2024-06-05 08:50:44
14,7309726002,https://utica.craigslist.org/ctd/d/utica-2015-...,utica-rome-oneida,https://utica.craigslist.org,24990,2015.0,acura,mdx sh-awd sport utility,good,8,...,5FRYD4H83FB028683,rwd,SUV,black,https://images.craigslist.org/00N0N_1xMPvfxRAI...,Carvana is the safer way to buy a car During t...,ny,43.100000,-75.230000,2023-10-22 03:16:32
15,7313955236,https://stillwater.craigslist.org/ctd/d/wellst...,stillwater,https://stillwater.craigslist.org,0,2015.0,jeep,grand cherokee,excellent,6,...,1C4RJEAG5FC879273,rwd,SUV,white,https://images.craigslist.org/00h0h_iBPilFt0zk...,2015 Jeep Grand Cherokee Altitude - Bright Whi...,ok,35.719960,-96.953910,2023-09-17 22:32:09
16,7310224425,https://hartford.craigslist.org/ctd/d/athol-sa...,hartford,https://hartford.craigslist.org,8995,2010.0,dodge,charger,good,6,...,YJV66VN03UEBGZLYC,rwd,sedan,black,https://images.craigslist.org/00q0q_1bnjykaOKf...,"CRAIGS LIST 👉 LEASES FROM $89 👉 BAD Credit,...",ct,42.595900,-72.226700,2024-04-23 14:01:45
17,7315541653,https://chicago.craigslist.org/nch/ctd/d/skoki...,chicago,https://chicago.craigslist.org,6995,2012.0,volvo,s60 t5,excellent,5,...,93480XBGBAS0MSX5S,4wd,sedan,white,https://images.craigslist.org/00N0N_9YSSx4rWlc...,STOCK#: KYC-140079 VEHICLE DESCRIPTION: LEA...,il,42.040729,-87.752954,2023-12-30 05:03:29
18,7312873544,https://fayar.craigslist.org/cto/d/salem-toyot...,fayetteville,https://fayar.craigslist.org,7000,2010.0,toyota,rav4,excellent,8,...,TV1J1Y3SUCNS5NXN4,4wd,SUV,white,https://images.craigslist.org/00Q0Q_jgXeypDvP0...,"2010 Toyota RAV4 limited 2wd auto , 260k mile...",ar,36.376600,-91.875900,2023-08-15 20:15:02
19,7312672944,https://siouxfalls.craigslist.org/ctd/d/sioux-...,sioux falls / SE SD,https://siouxfalls.craigslist.org,4999,2007.0,honda,odyssey,excellent,6,...,450MZWY4TM89UY76G,fwd,van,silver,https://images.craigslist.org/00101_2svD9wpSZZ...,"Clean title, no accidents, local trade in to B...",sd,43.471100,-96.817700,2024-01-18 00:20:13
20,7315040127,https://newjersey.craigslist.org/ctd/d/jersey-...,north jersey,https://newjersey.craigslist.org,10995,2012.0,ford,explorer limited,excellent,6,...,U2NL2M4UKFA00G8SW,4wd,SUV,black,https://images.craigslist.org/00d0d_2fvvNAxiAA...,FOR SALE!!!! BEAUTIFUL CLASSY FULLY LOADED 201...,nj,40.701594,-74.092762,2024-04-28 11:01:22
21,7303037235,https://providence.craigslist.org/ctd/d/worces...,rhode island,https://providence.craigslist.org,13995,2012.0,chevrolet,silverado 1500,excellent,8,...,1GCRKSE72CZ239990,4wd,sedan,silver,https://images.craigslist.org/01717_5rC9LzTcwU...,2012 *** Chevrolet Silverado 1500 4WD Ext Cab ...,ri,42.225504,-71.762086,2024-05-04 13:14:36
22,7311648611,https://nashville.craigslist.org/ctd/d/murfree...,nashville,https://nashville.craigslist.org,21900,2017.0,ram,promaster cargo van,excellent,6,...,3C6TRVAG3HE552405,fwd,van,white,https://images.craigslist.org/00y0y_b4SfOnxeGw...,2017 RAM PROMASTER CARGO 136 WHEEL BASE-1 OWNE...,tn,35.841559,-86.389644,2023-08-20 00:12:28
23,7304052561,https://batonrouge.craigslist.org/ctd/d/baton-...,baton rouge,https://batonrouge.craigslist.org,24590,2012.0,jeep,wrangler sahara sport,good,6,...,1C4GJWBG6CL153249,4wd,SUV,red,https://images.craigslist.org/00t0t_5xPioZGCqC...,Carvana is the safer way to buy a car During t...,la,30.440000,-91.120000,2023-08-30 01:17:02
24,7307911484,https://albanyga.craigslist.org/ctd/d/finksbur...,albany,https://albanyga.craigslist.org,38999,2011.0,ford,f-550 crew cab flat bed xlt 4x4 drw,good,8,...,1FD0W5HT9BEC16926,4wd,pickup,red,https://images.craigslist.org/00W0W_9hU4AzTzWV...,2011 Ford F-550 Crew Cab FLAT BED XLT 4X4 DRW...,ga,39.512938,-76.909548,2024-02-09 17:16:55
25,7303760016,https://greenville.craigslist.org/ctd/d/greenv...,greenville / upstate,https://greenville.craigslist.org,26990,2020.0,hyundai,sonata sel plus sedan 4d,good,8,...,5NPEJ4J2XLH027708,fwd,sedan,black,https://images.craigslist.org/00v0v_7UhMFgiL61...,Carvana is the safer way to buy a car During t...,sc,34.830000,-82.370000,2024-04-24 08:49:38
26,7310649382,https://bend.craigslist.org/ctd/d/albany-2014-...,bend,https://bend.craigslist.org,26995,2014.0,chevrolet,suburban ltz 1500 4x4,good,8,...,1GNSKKE7XER149806,rwd,pickup,white,https://images.craigslist.org/00n0n_gFYC9xOeop...,2014 Burgundy Chevrolet Suburban LTZ 1500 4x4 ...,or,44.629638,-123.055986,2024-04-01 17:36:19
27,7313271104,https://kpr.craigslist.org/ctd/d/pasco-2003-je...,kennewick-pasco-richland,https://kpr.craigslist.org,4990,2003.0,jeep,liberty,excellent,6,...,PDY83FWPZ0K44S3MH,rwd,truck,black,https://images.craigslist.org/00J0J_3I6f90YaxP...,WOW WHAT A DEAL!! THIS IS A FLAT TOWABLE VEHI...,wa,46.207557,-119.117030,2023-07-03 07:19:15
28,7312322985,https://stillwater.craigslist.org/ctd/d/stillw...,stillwater,https://stillwater.craigslist.org,37990,2019.0,ford,mustang gt coupe 2d,good,8,...,1FA6P8CF8K5199377,rwd,coupe,black,https://images.craigslist.org/00T0T_eLilyxttVK...,Carvana is the safer way to buy a car During t...,ok,36.130000,-97.070000,2024-02-06 04:11:49
29,7314804499,https://treasure.craigslist.org/ctd/d/stuart-2...,treasure coast,https://treasure.craigslist.org,34900,2016.0,ram,1500 laramie,excellent,8,...,1C6RR7NT6GS259610,4wd,pickup,black,https://images.craigslist.org/00D0D_efEqXeChCp...,**73k miles** **4x4** **Clean Title** call or ...,fl,27.196800,-80.253800,2024-02-14 01:25:02
30,7315127572,https://orangecounty.craigslist.org/cto/d/las-...,orange county,https://orangecounty.craigslist.org,16500,1998.0,porsche,boxster,like new,6,...,2XK1MJP3DD53JYEAA,rwd,other,white,https://images.craigslist.org/01212_2S85IDbgjk...,"Hello, I am selling my 1998 Porsche Boxster in...",ca,36.085400,-115.256600,2023-07-14 01:47:34
31,7305096036,https://fortmyers.craigslist.org/lee/ctd/d/for...,ft myers / SW florida,https://fortmyers.craigslist.org,22990,2014.0,lexus,gs 350 sedan 4d,good,6,...,JTHBE1BL3E5040413,rwd,sedan,white,https://images.craigslist.org/00P0P_kfLDYY5nXB...,Carvana is the safer way to buy a car During t...,fl,26.630000,-81.850000,2024-04-10 15:38:05
32,7315298657,https://dallas.craigslist.org/dal/ctd/d/dallas...,dallas / fort worth,https://dallas.craigslist.org,16490,2013.0,mercedes-benz,glk-class,like new,8,...,WDCGG8JB0DF969044,4wd,SUV,silver,https://images.craigslist.org/00000_1F71WfdKig...,2013 Mercedes-Benz GLK-Class 4MATIC 4dr GLK350...,tx,32.889080,-96.893780,2023-08-18 16:18:17
33,7316731256,https://hartford.craigslist.org/cto/d/east-har...,hartford,https://hartford.craigslist.org,7500,1994.0,ford,f700,excellent,6,...,H3K44Y2DCFR84B09S,4wd,coupe,silver,https://images.craigslist.org/00o0o_hcE0ER2zqP...,1994 Ford F700. 5.9 cummins with Allison auto....,ct,41.733106,-72.576885,2023-11-24 13:19:02
34,7316352843,https://sacramento.craigslist.org/ctd/d/rancho...,sacramento,https://sacramento.craigslist.org,8999,2010.0,toyota,scion tc,good,4,...,JTKDE3B72A0306402,fwd,hatchback,white,https://images.craigslist.org/00e0e_hScn0a3F1D...,2010 Scion tC Base 2dr Coupe 4A Offered by...,ca,38.574553,-121.257580,2024-04-11 00:41:48
35,7314953068,https://keys.craigslist.org/ctd/d/mount-vernon...,florida keys,https://keys.craigslist.org,33950,1935.0,ford,2dr sedan,excellent,4,...,181819073,4wd,wagon,silver,https://images.craigslist.org/01212_lahQDXqjWo...,Pacific Classics address: 100 valley mall w...,fl,48.432675,-122.339826,2024-02-19 10:41:29
36,7314088035,https://milwaukee.craigslist.org/ctd/d/dolton-...,milwaukee,https://milwaukee.craigslist.org,2900,2011.0,chrysler,200,good,4,...,1C3BC1FG5BN604485,fwd,sedan,black,https://images.craigslist.org/00D0D_7ADhW4MA9v...,2011 Chrysler 200 Touring Offered by: Firs...,wi,41.622595,-87.633814,2023-10-28 12:42:05
37,7313904361,https://omaha.craigslist.org/ctd/d/omaha-2017-...,omaha / council bluffs,https://omaha.craigslist.org,31995,2017.0,cadillac,ct6 sedan,good,6,...,1G6KH5R63HU130075,4wd,sedan,red,https://images.craigslist.org/00s0s_bCt9pRqXbg...,2017 *Cadillac* *CT6 Sedan* 4dr Sedan 3.0L Tur...,ia,41.207382,-96.023096,2023-07-19 18:09:54
38,7304707506,https://cincinnati.craigslist.org/ctd/d/hamilt...,cincinnati,https://cincinnati.craigslist.org,2900,2006.0,chevrolet,cobalt,good,4,...,1G1AJ15F667735935,fwd,coupe,red,https://images.craigslist.org/00n0n_7tBu6jjBUx...,"2006 Chevrolet Cobalt Runs and drives well, lo...",oh,39.384750,-84.549458,2023-12-04 22:40:23
39,7313998734,https://philadelphia.craigslist.org/ctd/d/phil...,philadelphia,https://philadelphia.craigslist.org,7300,2008.0,honda,accord,excellent,4,...,HS1TLS19HDC346Z3Z,fwd,sedan,white,https://images.craigslist.org/01010_94nP4x418b...,2008 Honda Accord Ex in Amazing Condition. Run...,pa,40.011800,-75.145600,2023-06-27 14:34:26
40,7314766451,https://lancaster.craigslist.org/ctd/d/lancast...,lancaster,https://lancaster.craigslist.org,8490,2013.0,ford,escape,excellent,4,...,1FMCU9GX9DUD03667,4wd,SUV,white,https://images.craigslist.org/00A0A_9XNx7DB6ql...,2013 Ford Escape SE 4WD 6-Speed Automatic 2...,pa,40.040974,-76.379804,2024-01-28 23:45:13
41,7316695011,https://raleigh.craigslist.org/cto/d/four-oaks...,raleigh / durham / CH,https://raleigh.craigslist.org,1000,2000.0,chevrolet,x3,like new,4,...,1BSE2MZW9Z60HJNM6,4wd,other,white,https://images.craigslist.org/00k0k_9ctQgaAKsF...,6.5 diesel parts trucks,nc,35.418000,-78.370000,2024-03-30 12:38:41
42,7306651911,https://greenbay.craigslist.org/ctd/d/green-ba...,green bay,https://greenbay.craigslist.org,36590,2020.0,rover,discovery sport,good,8,...,SALCK2FX9LH842938,4wd,SUV,white,https://images.craigslist.org/00909_31qCNeY8Ha...,Carvana is the safer way to buy a car During t...,wi,44.520000,-87.980000,2023-09-05 13:26:09
43,7303681285,https://chambersburg.craigslist.org/ctd/d/hynd...,cumberland valley,https://chambersburg.craigslist.org,63990,2019.0,audi,q8 premium sport utility 4d,good,8,...,WA1AVAF19KD013248,fwd,other,black,https://images.craigslist.org/01414_lICcMl1Ldv...,Carvana is the safer way to buy a car During t...,md,39.820000,-78.720000,2023-06-22 07:50:54
44,7310962031,https://tricities.craigslist.org/ctd/d/blountv...,tri-cities,https://tricities.craigslist.org,22990,2015.0,bmw,3 series 328d xdrive sport,good,8,...,WBA3K5C57FK300785,4wd,wagon,black,https://images.craigslist.org/00T0T_fGjyxtUvNO...,Carvana is the safer way to buy a car During t...,tn,36.530000,-82.320000,2023-08-07 20:24:57
45,7310988798,https://austin.craigslist.org/ctd/d/buda-2016-...,austin,https://austin.craigslist.org,34995,2016.0,ford,f-250,good,6,...,1FT7W2B6XGEB64184,4wd,pickup,black,https://images.craigslist.org/00808_k2QAl1SdFs...,2016 Ford F-250 F250 F 250 XLT Offered by:...,tx,30.064714,-97.839307,2024-03-14 23:39:51
46,7303286315,https://elmira.craigslist.org/ctd/d/pine-valle...,elmira-corning,https://elmira.craigslist.org,11495,2010.0,jeep,wrangler,excellent,4,...,291NAMGNZCF08VZY2,4wd,SUV,black,https://images.craigslist.org/01010_bk1jdVCzxZ...,2010 JEEP WRANGLER 4X4 6 SPEED MANY EXTRAS SER...,ny,42.226611,-76.844044,2024-06-05 08:34:00
47,7310007114,https://stockton.craigslist.org/ctd/d/modesto-...,stockton,https://stockton.craigslist.org,20995,2015.0,ford,transit connect,good,6,...,GT1MEEVMYCG2G0X9D,4wd,pickup,white,https://images.craigslist.org/00707_jsi8rBEyZh...,2015 Ford Transit Connect Cargo XLT Van 4D RUN...,ca,37.640900,-120.974900,2023-09-23 04:14:46
48,7309697685,https://merced.craigslist.org/ctd/d/atlanta-20...,merced,https://merced.craigslist.org,29990,2018.0,lexus,nx 300 sport utility 4d,good,8,...,JTJYARBZ2J2097415,4wd,hatchback,white,https://images.craigslist.org/00L0L_7N1bVdeWVN...,Carvana is the safer way to buy a car During t...,ca,33.786500,-84.445400,2024-05-01 17:59:32
49,7308388950,https://holland.craigslist.org/ctd/d/holland-2...,holland,https://holland.craigslist.org,0,2015.0,subaru,forester,excellent,4,...,JF2SJAUCXFH400479,4wd,wagon,silver,https://images.craigslist.org/00y0y_lCw1GIoQG8...,100% FINANCING AVAILABLE AND 1ST TIME BUYER PR...,mi,42.765844,-86.116313,2024-03-01 17:39:14

In [16]:
unique_cars = sample_df[['manufacturer', 'model']].drop_duplicates().reset_index(drop=True)
unique_cars['car_id'] = range(1, len(unique_cars) + 1)

sample_cars_table = sample_df[["id", "manufacturer", "model", "drive", "cylinders", "transmission", "paint_color"]]
sample_cars_table = sample_cars_table.merge(unique_cars, on=['manufacturer', 'model'], how='left').drop_duplicates().reset_index(drop=True)
sample_cars_table

,id,manufacturer,model,drive,cylinders,transmission,paint_color,car_id
0,7304740863,dodge,avenger,rwd,8,automatic,black,1
1,7315418880,mazda,3,fwd,4,automatic,blue,2
2,7308351653,toyota,tacoma access cab sr,fwd,8,automatic,silver,3
3,7316046880,volkswagen,jetta se,fwd,5,automatic,black,4
4,7316681092,ford,ranger,4wd,4,automatic,grey,5
5,7306586367,ford,escape,4wd,6,automatic,green,6
6,7316338679,nissan,altima 2.5 sr,fwd,4,automatic,white,7
7,7316636488,hyundai,santa fe,fwd,6,automatic,silver,8
8,7316924521,bmw,x5,4wd,6,automatic,black,9
9,7313478798,subaru,putback,4wd,4,automatic,white,10
10,7303213510,jeep,wrangler,4wd,6,manual,black,11
11,7315009988,lexus,lx 470,4wd,8,automatic,black,12
12,7308575011,honda,civic cpe,fwd,4,automatic,black,13
13,7306921296,dodge,charger sxt,rwd,8,automatic,blue,14
14,7309726002,acura,mdx sh-awd sport utility,rwd,8,automatic,black,15
15,7313955236,jeep,grand cherokee,rwd,6,automatic,white,16
16,7310224425,dodge,charger,rwd,6,automatic,black,17
17,7315541653,volvo,s60 t5,4wd,5,automatic,white,18
18,7312873544,toyota,rav4,4wd,8,automatic,white,19
19,7312672944,honda,odyssey,fwd,6,automatic,silver,20
20,7315040127,ford,explorer limited,4wd,6,automatic,black,21
21,7303037235,chevrolet,silverado 1500,4wd,8,automatic,silver,22
22,7311648611,ram,promaster cargo van,fwd,6,automatic,white,23
23,7304052561,jeep,wrangler sahara sport,4wd,6,automatic,red,24
24,7307911484,ford,f-550 crew cab flat bed xlt 4x4 drw,4wd,8,automatic,red,25
25,7303760016,hyundai,sonata sel plus sedan 4d,fwd,8,automatic,black,26
26,7310649382,chevrolet,suburban ltz 1500 4x4,rwd,8,automatic,white,27
27,7313271104,jeep,liberty,rwd,6,automatic,black,28
28,7312322985,ford,mustang gt coupe 2d,rwd,8,automatic,black,29
29,7314804499,ram,1500 laramie,4wd,8,automatic,black,30
30,7315127572,porsche,boxster,rwd,6,automatic,white,31
31,7305096036,lexus,gs 350 sedan 4d,rwd,6,automatic,white,32
32,7315298657,mercedes-benz,glk-class,4wd,8,automatic,silver,33
33,7316731256,ford,f700,4wd,6,automatic,silver,34
34,7316352843,toyota,scion tc,fwd,4,automatic,white,35
35,7314953068,ford,2dr sedan,4wd,4,automatic,silver,36
36,7314088035,chrysler,200,fwd,4,automatic,black,37
37,7313904361,cadillac,ct6 sedan,4wd,6,automatic,red,38
38,7304707506,chevrolet,cobalt,fwd,4,manual,red,39
39,7313998734,honda,accord,fwd,4,automatic,white,40
40,7314766451,ford,escape,4wd,4,automatic,white,6
41,7316695011,chevrolet,x3,4wd,4,automatic,white,41
42,7306651911,rover,discovery sport,4wd,8,automatic,white,42
43,7303681285,audi,q8 premium sport utility 4d,fwd,8,automatic,black,43
44,7310962031,bmw,3 series 328d xdrive sport,4wd,8,automatic,black,44
45,7310988798,ford,f-250,4wd,6,automatic,black,45
46,7303286315,jeep,wrangler,4wd,4,manual,black,11
47,7310007114,ford,transit connect,4wd,6,automatic,white,46
48,7309697685,lexus,nx 300 sport utility 4d,4wd,8,automatic,white,47
49,7308388950,subaru,forester,4wd,4,automatic,silver,48

In [17]:
colors = df["paint_color"].dropna().unique()
colors_table = pd.DataFrame(colors, columns=["color"])

hex_dict = {
    'black': '#000000',
    'blue': '#0000FF',
    'brown': '#A52A2A',
    'green': '#008000',
    'grey': '#808080',
    'orange': '#FFA500',
    'purple': '#800080',
    'red': '#FF0000',
    'silver': '#C0C0C0',
    'white': '#FFFFFF',
    'yellow': '#FFFF00',
}

colors_table['hex'] = colors_table['color'].map(hex_dict)

colors_table

     color      hex
0    white  #FFFFFF
1     blue  #0000FF
2      red  #FF0000
3    black  #000000
4   silver  #C0C0C0
5     grey  #808080
6    brown  #A52A2A
7   yellow  #FFFF00
8   orange  #FFA500
9    green  #008000
10  purple  #800080

In [18]:
fake = Faker()

num_users = 10

user_data = {
    'user_id': random.sample(range(10000000, 100000000), num_users), # 8 digit user_id
    'first_name': [fake.first_name() for _ in range(num_users)],
    'last_name': [fake.last_name() for _ in range(num_users)],
    'email': [fake.email() for _ in range(num_users)],
    'date_of_birth': [fake.date_of_birth(minimum_age=18, maximum_age=90) for _ in range(num_users)],
    'password': [fake.password(length=10, special_chars=True, digits=True, upper_case=True, lower_case=True) for _ in range(num_users)]
}

sample_users_table = pd.DataFrame(user_data)
sample_users_table

,user_id,first_name,last_name,email,date_of_birth,password
0,58212432,Chris,Lewis,rachaelbradley@example.org,1952-01-25,AT49GoK4$2
1,60563857,John,Green,pbaldwin@example.org,2005-06-29,$gyt#VOl^2
2,58474563,Amanda,Miller,sydneypage@example.net,1951-03-12,@m%OWIHja6
3,45361748,Richard,Hendricks,aaron03@example.org,1949-07-21,R3BSuHWA^V
4,30936609,Peter,Lewis,carpenterraymond@example.net,1985-07-26,W_KDE9Bx@2
5,11543547,Jill,Valdez,fgriffith@example.net,1950-10-26,YGaV2YoJ#I
6,67020190,Anthony,Long,josephfowler@example.org,1939-01-17,*i0Ga(tP3L
7,78258299,Gabriela,Lucas,sara21@example.net,1987-03-17,d1LhAkl%@p
8,22288084,Mark,Sanchez,brandy59@example.net,1995-09-29,*@P$6Co%0&
9,32967301,Melissa,Bell,christophercurry@example.org,1962-06-11,+G2u3RNnV4

In [19]:
num_rentals = 50

rental_data = {
    'rental_id': random.sample(range(1000000000, 10000000000), num_rentals), # 10 digit rental_id
    'car_id': [random.choice(sample_cars_table['car_id']) for _ in range(num_rentals)],
    'user_id': [random.choice(sample_users_table['user_id']) for _ in range(num_rentals)],
    'rent_date': [fake.date_this_year(before_today=True, after_today=False) for _ in range(num_rentals)],
}

num_active = num_rentals // 2
num_inactive = num_rentals - num_active

# active rentals
active_rent_dates = [fake.date_this_year(before_today=True, after_today=False) for _ in range(num_active)]
active_return_dates = [(pd.to_datetime(rent_date) + pd.to_timedelta(random.randint(1, 50), unit='d')).strftime('%Y-%m-%d')
                       for rent_date in active_rent_dates]

# inactive rentals
start_date = datetime.now() - timedelta(days=365 * 10)
inactive_rent_dates = [fake.date_between_dates(date_start=start_date, date_end=datetime.now() - timedelta(days=50))
                       for _ in range(num_inactive)]
inactive_return_dates = [(pd.to_datetime(rent_date) + pd.to_timedelta(random.randint(1, 50), unit='d')).strftime('%Y-%m-%d')
                         for rent_date in inactive_rent_dates]

rental_data['rent_date'] = active_rent_dates + inactive_rent_dates
rental_data['return_date'] = active_return_dates + inactive_return_dates
rental_data['status'] = ['active'] * num_active + ['inactive'] * num_inactive
sample_rentals_table = pd.DataFrame(rental_data)
sample_rentals_table = sample_rentals_table.sample(frac=1).reset_index(drop=True)

sample_rentals_table

     rental_id  car_id   user_id   rent_date return_date    status
0   7055645981      44  78258299  2014-06-26  2014-07-13  inactive
1   6121198645      31  58474563  2019-01-22  2019-02-24  inactive
2   3118355110       2  30936609  2024-04-01  2024-05-03    active
3   7452487094      24  22288084  2020-06-14  2020-06-25  inactive
4   3072036255      44  58474563  2024-05-21  2024-06-25    active
5   7073838007      40  22288084  2024-04-12  2024-05-12    active
6   2945251529      38  60563857  2020-09-30  2020-11-10  inactive
7   9579182778      16  22288084  2022-09-22  2022-10-31  inactive
8   6209742775      19  60563857  2024-05-08  2024-06-03    active
9   1423607859      35  32967301  2024-04-08  2024-05-13    active
10  4160052953       2  67020190  2023-08-09  2023-09-04  inactive
11  7551837549      35  67020190  2024-05-12  2024-06-24    active
12  7824351477      45  11543547  2024-04-18  2024-05-23    active
13  6544261644       2  67020190  2019-05-04  2019-05-05  inactive
14  7224720469      33  32967301  2016-11-02  2016-11-15  inactive
15  7636942516      38  30936609  2024-06-10  2024-06-21    active
16  7252631323      12  78258299  2024-01-24  2024-02-07    active
17  2220945527      20  78258299  2024-04-16  2024-05-09    active
18  4466465265      44  30936609  2023-08-14  2023-08-22  inactive
19  9643887676      31  58474563  2024-02-08  2024-02-22    active
20  3322544034      42  78258299  2022-03-05  2022-04-05  inactive
21  8211024286      28  60563857  2024-05-10  2024-05-31    active
22  7171117364      29  45361748  2024-03-09  2024-04-01    active
23  6553560919      15  78258299  2015-05-11  2015-06-23  inactive
24  2503533268      34  45361748  2024-06-18  2024-07-18    active
25  6018210629      23  45361748  2024-05-12  2024-06-14    active
26  4044271981      18  58474563  2015-05-26  2015-05-28  inactive
27  8621696219      44  30936609  2016-03-17  2016-04-04  inactive
28  6438309101      33  58474563  2017-06-01  2017-06-06  inactive
29  9845003277      16  60563857  2024-02-08  2024-02-11    active
30  5138243358      34  67020190  2024-01-13  2024-02-20    active
31  8861057554      48  30936609  2023-08-24  2023-09-11  inactive
32  6547389302       1  58212432  2024-04-03  2024-04-18    active
33  7424333767      21  30936609  2015-12-24  2016-01-07  inactive
34  7216024680      38  32967301  2015-04-24  2015-06-12  inactive
35  5293544805      11  58474563  2014-08-28  2014-10-13  inactive
36  2175700626       1  45361748  2017-10-02  2017-11-13  inactive
37  5878731199      29  11543547  2024-03-16  2024-04-20    active
38  4415295728       6  30936609  2022-03-11  2022-04-07  inactive
39  8843874330      24  30936609  2024-01-08  2024-02-10    active
40  4459163144       4  60563857  2021-03-09  2021-03-24  inactive
41  8478786845      34  58474563  2019-10-03  2019-11-01  inactive
42  4793046828      18  58212432  2019-06-07  2019-06-09  inactive
43  4826413402      24  60563857  2024-04-08  2024-04-19    active
44  1157371641      21  30936609  2024-03-17  2024-04-01    active
45  5325975349      41  60563857  2024-04-26  2024-05-07    active
46  3876186254      38  30936609  2023-06-06  2023-07-02  inactive
47  6486911575      24  58474563  2024-05-28  2024-06-21    active
48  4090723165      32  60563857  2018-12-14  2018-12-28  inactive
49  8523367089      25  67020190  2024-02-25  2024-04-04    active

In [20]:
sample_listings_table = sample_df[["id", "url", "region", "image_url", "description", "condition", "vin", "lat", "long", "state", "price", "posting_date"]]
sample_listings_table["car_id"] = sample_cars_table['car_id']

sample_listings_table = sample_listings_table.rename(columns={
    "url": "listing_url",
    "lat": "lat_id",
    "long": "long_id",
    "state": "state_id"
})

sample_listings_table

C:\Users\siddh\AppData\Local\Temp\ipykernel_15940\395790312.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_listings_table["car_id"] = sample_cars_table['car_id']

,id,listing_url,region,image_url,description,condition,vin,lat_id,long_id,state_id,price,posting_date,car_id
0,7304740863,https://columbia.craigslist.org/cto/d/cayce-08...,columbia,https://images.craigslist.org/00P0P_jqqA8ooSZH...,STILL AVAILABLE ->2008 Dodge Avenger $2500 Run...,excellent,FX30XM2WS7X6UVFSJ,33.962600,-81.067100,sc,1600,2024-03-02 18:56:12,1
1,7315418880,https://dallas.craigslist.org/mdf/cto/d/grand-...,dallas / fort worth,https://images.craigslist.org/01010_fCRfOTjti4...,"hi i'm selling my car, in great condition 4 ne...",like new,Y284C5GUSFBRZDGTY,32.750300,-96.972300,tx,4400,2024-03-05 05:25:53,2
2,7308351653,https://clarksville.craigslist.org/ctd/d/chatt...,clarksville,https://images.craigslist.org/00N0N_1xMPvfxRAI...,Carvana is the safer way to buy a car During t...,good,5TFRX5GN0KX157328,35.060000,-85.250000,tn,26990,2024-03-25 03:59:43,3
3,7316046880,https://boise.craigslist.org/ctd/d/boise-2009-...,boise,https://images.craigslist.org/00o0o_5xHXhjn9lt...,Liberty Motors STOCK #: 11041 ...,good,3VWRM71K39M097027,43.619114,-116.261580,id,112,2023-09-07 20:05:49,4
4,7316681092,https://danville.craigslist.org/ctd/d/eden-202...,danville,https://images.craigslist.org/00b0b_kop59xY3Q3...,Tri-City Ford Call Sales at 336-593-7359 2021 ...,like new,1FTER1FH1MLD35335,36.478690,-79.738140,va,0,2024-05-17 01:35:21,5
5,7306586367,https://pueblo.craigslist.org/cto/d/fort-garla...,pueblo,https://images.craigslist.org/00E0E_ltdcWBdBVV...,"Car in good shape, transmission replaced a yea...",good,VK0SZ95D6K9K1EG7L,37.429587,-105.432484,co,4800,2023-12-03 11:33:03,6
6,7316338679,https://sacramento.craigslist.org/ctd/d/sacram...,sacramento,https://images.craigslist.org/00808_gtJnUDeIzy...,2020 * Nissan * * Altima 2.5 SR * sedan Gu...,good,1N4BL4CV6LC183654,38.610767,-121.422557,ca,23588,2023-11-21 09:10:54,7
7,7316636488,https://grandrapids.craigslist.org/cto/d/belmo...,grand rapids,https://images.craigslist.org/00k0k_aukGZcW1GW...,Three row seating AWD Single non smoker Leath...,excellent,RDVY51W4F9NPK6H87,43.047661,-85.580063,mi,21900,2024-04-25 14:24:27,8
8,7316924521,https://greenville.craigslist.org/ctd/d/kerner...,greenville / upstate,https://images.craigslist.org/00606_hnLPWNAoVf...,2018 BMW XDrive35I AWD 4DR SUV - Luxury!! Co...,like new,VAMBB4VN902GHNCFG,36.116500,-80.083100,sc,44995,2024-05-20 01:31:35,9
9,7313478798,https://albuquerque.craigslist.org/cto/d/albuq...,albuquerque,https://images.craigslist.org/00F0F_3fyuCJ9C8m...,I have a 2005 Subaru outback for sale it has 2...,good,8KH50XCH7A5AAVRVM,35.134700,-106.642700,nm,3800,2024-02-04 06:30:59,10
10,7303213510,https://fortcollins.craigslist.org/ctd/d/longm...,fort collins / north CO,https://images.craigslist.org/00h0h_juUTugR1j9...,Victory Motors of Colorado STOCK #: L1...,good,1J4FA49S85P386548,40.182151,-105.102373,co,15999,2023-12-02 16:08:54,11
11,7315009988,https://orlando.craigslist.org/ctd/d/2005-lexu...,orlando,https://images.craigslist.org/00E0E_2Rs0U3cvFW...,Description: SUPER PREMIUM ICON DOBINSONS...,good,T9RK5U8B2LBRFN66C,NaN,NaN,fl,34300,2024-05-09 11:26:14,12
12,7308575011,https://columbus.craigslist.org/ctd/d/columbus...,columbus,https://images.craigslist.org/01414_5FP3Y5rn6n...,Enormous Inventory!Call (or text) ☏ (614) 808-...,excellent,WKRF787VUAM5JMXLJ,40.064137,-82.998073,oh,9317,2023-11-17 18:21:00,13
13,7306921296,https://greensboro.craigslist.org/ctd/d/kerner...,greensboro,https://images.craigslist.org/00d0d_3sbpTmqN3X...,*** DELIVERY IN NC/SC/VA *** * TO VIEW THE FU...,like new,PMBZ1R6G1WRNFTJ5N,36.122560,-80.070741,nc,18991,2024-06-05 08:50:44,14
14,7309726002,https://utica.craigslist.org/ctd/d/utica-2015-...,utica-rome-oneida,https://images.craigslist.org/00N0N_1xMPvfxRAI...,Carvana is the safer way to buy a car During t...,good,5FRYD4H83FB028683,43.100000,-75.230000,ny,24990,2023-10-22 03:16:32,15
15,7313955236,https://stillwater.craigslist.org/ctd/d/wellst...,stillwater,https://images.craigslist.org/00h0h_iBPilFt0zk...,2015 Jeep Grand Cherokee Altitude - Bright Whi...,excellent,1C4RJEAG5FC879273,35.719960,-96.953910,ok,0,2023-09-17 22:32:09,16
16,7310224425,https://hartford.craigslist.org/ctd/d/athol-sa...,hartford,https://images.craigslist.org/00q0q_1bnjykaOKf...,"CRAIGS LIST 👉 LEASES FROM $89 👉 BAD Credit,...",good,YJV66VN03UEBGZLYC,42.595900,-72.226700,ct,8995,2024-04-23 14:01:45,17
17,7315541653,https://chicago.craigslist.org/nch/ctd/d/skoki...,chicago,https://images.craigslist.org/00N0N_9YSSx4rWlc...,STOCK#: KYC-140079 VEHICLE DESCRIPTION: LEA...,excellent,93480XBGBAS0MSX5S,42.040729,-87.752954,il,6995,2023-12-30 05:03:29,18
18,7312873544,https://fayar.craigslist.org/cto/d/salem-toyot...,fayetteville,https://images.craigslist.org/00Q0Q_jgXeypDvP0...,"2010 Toyota RAV4 limited 2wd auto , 260k mile...",excellent,TV1J1Y3SUCNS5NXN4,36.376600,-91.875900,ar,7000,2023-08-15 20:15:02,19
19,7312672944,https://siouxfalls.craigslist.org/ctd/d/sioux-...,sioux falls / SE SD,https://images.craigslist.org/00101_2svD9wpSZZ...,"Clean title, no accidents, local trade in to B...",excellent,450MZWY4TM89UY76G,43.471100,-96.817700,sd,4999,2024-01-18 00:20:13,20
20,7315040127,https://newjersey.craigslist.org/ctd/d/jersey-...,north jersey,https://images.craigslist.org/00d0d_2fvvNAxiAA...,FOR SALE!!!! BEAUTIFUL CLASSY FULLY LOADED 201...,excellent,U2NL2M4UKFA00G8SW,40.701594,-74.092762,nj,10995,2024-04-28 11:01:22,21
21,7303037235,https://providence.craigslist.org/ctd/d/worces...,rhode island,https://images.craigslist.org/01717_5rC9LzTcwU...,2012 *** Chevrolet Silverado 1500 4WD Ext Cab ...,excellent,1GCRKSE72CZ239990,42.225504,-71.762086,ri,13995,2024-05-04 13:14:36,22
22,7311648611,https://nashville.craigslist.org/ctd/d/murfree...,nashville,https://images.craigslist.org/00y0y_b4SfOnxeGw...,2017 RAM PROMASTER CARGO 136 WHEEL BASE-1 OWNE...,excellent,3C6TRVAG3HE552405,35.841559,-86.389644,tn,21900,2023-08-20 00:12:28,23
23,7304052561,https://batonrouge.craigslist.org/ctd/d/baton-...,baton rouge,https://images.craigslist.org/00t0t_5xPioZGCqC...,Carvana is the safer way to buy a car During t...,good,1C4GJWBG6CL153249,30.440000,-91.120000,la,24590,2023-08-30 01:17:02,24
24,7307911484,https://albanyga.craigslist.org/ctd/d/finksbur...,albany,https://images.craigslist.org/00W0W_9hU4AzTzWV...,2011 Ford F-550 Crew Cab FLAT BED XLT 4X4 DRW...,good,1FD0W5HT9BEC16926,39.512938,-76.909548,ga,38999,2024-02-09 17:16:55,25
25,7303760016,https://greenville.craigslist.org/ctd/d/greenv...,greenville / upstate,https://images.craigslist.org/00v0v_7UhMFgiL61...,Carvana is the safer way to buy a car During t...,good,5NPEJ4J2XLH027708,34.830000,-82.370000,sc,26990,2024-04-24 08:49:38,26
26,7310649382,https://bend.craigslist.org/ctd/d/albany-2014-...,bend,https://images.craigslist.org/00n0n_gFYC9xOeop...,2014 Burgundy Chevrolet Suburban LTZ 1500 4x4 ...,good,1GNSKKE7XER149806,44.629638,-123.055986,or,26995,2024-04-01 17:36:19,27
27,7313271104,https://kpr.craigslist.org/ctd/d/pasco-2003-je...,kennewick-pasco-richland,https://images.craigslist.org/00J0J_3I6f90YaxP...,WOW WHAT A DEAL!! THIS IS A FLAT TOWABLE VEHI...,excellent,PDY83FWPZ0K44S3MH,46.207557,-119.117030,wa,4990,2023-07-03 07:19:15,28
28,7312322985,https://stillwater.craigslist.org/ctd/d/stillw...,stillwater,https://images.craigslist.org/00T0T_eLilyxttVK...,Carvana is the safer way to buy a car During t...,good,1FA6P8CF8K5199377,36.130000,-97.070000,ok,37990,2024-02-06 04:11:49,29
29,7314804499,https://treasure.craigslist.org/ctd/d/stuart-2...,treasure coast,https://images.craigslist.org/00D0D_efEqXeChCp...,**73k miles** **4x4** **Clean Title** call or ...,excellent,1C6RR7NT6GS259610,27.196800,-80.253800,fl,34900,2024-02-14 01:25:02,30
30,7315127572,https://orangecounty.craigslist.org/cto/d/las-...,orange county,https://images.craigslist.org/01212_2S85IDbgjk...,"Hello, I am selling my 1998 Porsche Boxster in...",like new,2XK1MJP3DD53JYEAA,36.085400,-115.256600,ca,16500,2023-07-14 01:47:34,31
31,7305096036,https://fortmyers.craigslist.org/lee/ctd/d/for...,ft myers / SW florida,https://images.craigslist.org/00P0P_kfLDYY5nXB...,Carvana is the safer way to buy a car During t...,good,JTHBE1BL3E5040413,26.630000,-81.850000,fl,22990,2024-04-10 15:38:05,32
32,7315298657,https://dallas.craigslist.org/dal/ctd/d/dallas...,dallas / fort worth,https://images.craigslist.org/00000_1F71WfdKig...,2013 Mercedes-Benz GLK-Class 4MATIC 4dr GLK350...,like new,WDCGG8JB0DF969044,32.889080,-96.893780,tx,16490,2023-08-18 16:18:17,33
33,7316731256,https://hartford.craigslist.org/cto/d/east-har...,hartford,https://images.craigslist.org/00o0o_hcE0ER2zqP...,1994 Ford F700. 5.9 cummins with Allison auto....,excellent,H3K44Y2DCFR84B09S,41.733106,-72.576885,ct,7500,2023-11-24 13:19:02,34
34,7316352843,https://sacramento.craigslist.org/ctd/d/rancho...,sacramento,https://images.craigslist.org/00e0e_hScn0a3F1D...,2010 Scion tC Base 2dr Coupe 4A Offered by...,good,JTKDE3B72A0306402,38.574553,-121.257580,ca,8999,2024-04-11 00:41:48,35
35,7314953068,https://keys.craigslist.org/ctd/d/mount-vernon...,florida keys,https://images.craigslist.org/01212_lahQDXqjWo...,Pacific Classics address: 100 valley mall w...,excellent,181819073,48.432675,-122.339826,fl,33950,2024-02-19 10:41:29,36
36,7314088035,https://milwaukee.craigslist.org/ctd/d/dolton-...,milwaukee,https://images.craigslist.org/00D0D_7ADhW4MA9v...,2011 Chrysler 200 Touring Offered by: Firs...,good,1C3BC1FG5BN604485,41.622595,-87.633814,wi,2900,2023-10-28 12:42:05,37
37,7313904361,https://omaha.craigslist.org/ctd/d/omaha-2017-...,omaha / council bluffs,https://images.craigslist.org/00s0s_bCt9pRqXbg...,2017 *Cadillac* *CT6 Sedan* 4dr Sedan 3.0L Tur...,good,1G6KH5R63HU130075,41.207382,-96.023096,ia,31995,2023-07-19 18:09:54,38
38,7304707506,https://cincinnati.craigslist.org/ctd/d/hamilt...,cincinnati,https://images.craigslist.org/00n0n_7tBu6jjBUx...,"2006 Chevrolet Cobalt Runs and drives well, lo...",good,1G1AJ15F667735935,39.384750,-84.549458,oh,2900,2023-12-04 22:40:23,39
39,7313998734,https://philadelphia.craigslist.org/ctd/d/phil...,philadelphia,https://images.craigslist.org/01010_94nP4x418b...,2008 Honda Accord Ex in Amazing Condition. Run...,excellent,HS1TLS19HDC346Z3Z,40.011800,-75.145600,pa,7300,2023-06-27 14:34:26,40
40,7314766451,https://lancaster.craigslist.org/ctd/d/lancast...,lancaster,https://images.craigslist.org/00A0A_9XNx7DB6ql...,2013 Ford Escape SE 4WD 6-Speed Automatic 2...,excellent,1FMCU9GX9DUD03667,40.040974,-76.379804,pa,8490,2024-01-28 23:45:13,6
41,7316695011,https://raleigh.craigslist.org/cto/d/four-oaks...,raleigh / durham / CH,https://images.craigslist.org/00k0k_9ctQgaAKsF...,6.5 diesel parts trucks,like new,1BSE2MZW9Z60HJNM6,35.418000,-78.370000,nc,1000,2024-03-30 12:38:41,41
42,7306651911,https://greenbay.craigslist.org/ctd/d/green-ba...,green bay,https://images.craigslist.org/00909_31qCNeY8Ha...,Carvana is the safer way to buy a car During t...,good,SALCK2FX9LH842938,44.520000,-87.980000,wi,36590,2023-09-05 13:26:09,42
43,7303681285,https://chambersburg.craigslist.org/ctd/d/hynd...,cumberland valley,https://images.craigslist.org/01414_lICcMl1Ldv...,Carvana is the safer way to buy a car During t...,good,WA1AVAF19KD013248,39.820000,-78.720000,md,63990,2023-06-22 07:50:54,43
44,7310962031,https://tricities.craigslist.org/ctd/d/blountv...,tri-cities,https://images.craigslist.org/00T0T_fGjyxtUvNO...,Carvana is the safer way to buy a car During t...,good,WBA3K5C57FK300785,36.530000,-82.320000,tn,22990,2023-08-07 20:24:57,44
45,7310988798,https://austin.craigslist.org/ctd/d/buda-2016-...,austin,https://images.craigslist.org/00808_k2QAl1SdFs...,2016 Ford F-250 F250 F 250 XLT Offered by:...,good,1FT7W2B6XGEB64184,30.064714,-97.839307,tx,34995,2024-03-14 23:39:51,45
46,7303286315,https://elmira.craigslist.org/ctd/d/pine-valle...,elmira-corning,https://images.craigslist.org/01010_bk1jdVCzxZ...,2010 JEEP WRANGLER 4X4 6 SPEED MANY EXTRAS SER...,excellent,291NAMGNZCF08VZY2,42.226611,-76.844044,ny,11495,2024-06-05 08:34:00,11
47,7310007114,https://stockton.craigslist.org/ctd/d/modesto-...,stockton,https://images.craigslist.org/00707_jsi8rBEyZh...,2015 Ford Transit Connect Cargo XLT Van 4D RUN...,good,GT1MEEVMYCG2G0X9D,37.640900,-120.974900,ca,20995,2023-09-23 04:14:46,46
48,7309697685,https://merced.craigslist.org/ctd/d/atlanta-20...,merced,https://images.craigslist.org/00L0L_7N1bVdeWVN...,Carvana is the safer way to buy a car During t...,good,JTJYARBZ2J2097415,33.786500,-84.445400,ca,29990,2024-05-01 17:59:32,47
49,7308388950,https://holland.craigslist.org/ctd/d/holland-2...,holland,https://images.craigslist.org/00y0y_lCw1GIoQG8...,100% FINANCING AVAILABLE AND 1ST TIME BUYER PR...,excellent,JF2SJAUCXFH400479,42.765844,-86.116313,mi,0,2024-03-01 17:39:14,48

In [21]:
import pandas as pd

state_data = {
    'state_id': ['al', 'ak', 'az', 'ar', 'ca', 'co', 'ct', 'dc', 'de', 'fl', 'ga',
                   'hi', 'id', 'il', 'in', 'ia', 'ks', 'ky', 'la', 'me', 'md', 'ma',
                   'mi', 'mn', 'ms', 'mo', 'mt', 'nc', 'ne', 'nv', 'nj', 'nm', 'ny',
                   'nh', 'nd', 'oh', 'ok', 'or', 'pa', 'ri', 'sc', 'sd', 'tn', 'tx',
                   'ut', 'vt', 'va', 'wa', 'wv', 'wi', 'wy'],
    'state_name': ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'District of Columbia', 
                   'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 
                   'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 
                   'Montana', 'North Carolina', 'Nebraska', 'Nevada', 'New Jersey', 'New Mexico', 'New York', 'New Hampshire', 
                   'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 
                   'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],
    'time_zone': ['Central', 'Alaska', 'Mountain', 'Central', 'Pacific', 'Mountain', 'Eastern', 'Eastern', 'Eastern', 'Eastern', 
                  'Eastern', 'Hawaii-Aleutian', 'Mountain', 'Central', 'Eastern', 'Central', 'Central', 'Eastern', 'Central', 
                  'Eastern', 'Eastern', 'Eastern', 'Eastern', 'Central', 'Central', 'Central', 'Mountain', 'Eastern', 'Central', 
                  'Pacific', 'Eastern', 'Mountain', 'Eastern', 'Eastern', 'Central', 'Eastern', 'Central', 'Pacific', 'Eastern', 
                  'Eastern', 'Eastern', 'Central', 'Central', 'Central', 'Mountain', 'Eastern', 'Eastern', 'Pacific', 'Eastern', 
                  'Central', 'Mountain']
}

states_table = pd.DataFrame(state_data)
states_table

   state_id            state_name        time_zone
0        al               Alabama          Central
1        ak                Alaska           Alaska
2        az               Arizona         Mountain
3        ar              Arkansas          Central
4        ca            California          Pacific
5        co              Colorado         Mountain
6        ct           Connecticut          Eastern
7        dc  District of Columbia          Eastern
8        de              Delaware          Eastern
9        fl               Florida          Eastern
10       ga               Georgia          Eastern
11       hi                Hawaii  Hawaii-Aleutian
12       id                 Idaho         Mountain
13       il              Illinois          Central
14       in               Indiana          Eastern
15       ia                  Iowa          Central
16       ks                Kansas          Central
17       ky              Kentucky          Eastern
18       la             Louisiana          Central
19       me                 Maine          Eastern
20       md              Maryland          Eastern
21       ma         Massachusetts          Eastern
22       mi              Michigan          Eastern
23       mn             Minnesota          Central
24       ms           Mississippi          Central
25       mo              Missouri          Central
26       mt               Montana         Mountain
27       nc        North Carolina          Eastern
28       ne              Nebraska          Central
29       nv                Nevada          Pacific
30       nj            New Jersey          Eastern
31       nm            New Mexico         Mountain
32       ny              New York          Eastern
33       nh         New Hampshire          Eastern
34       nd          North Dakota          Central
35       oh                  Ohio          Eastern
36       ok              Oklahoma          Central
37       or                Oregon          Pacific
38       pa          Pennsylvania          Eastern
39       ri          Rhode Island          Eastern
40       sc        South Carolina          Eastern
41       sd          South Dakota          Central
42       tn             Tennessee          Central
43       tx                 Texas          Central
44       ut                  Utah         Mountain
45       vt               Vermont          Eastern
46       va              Virginia          Eastern
47       wa            Washington          Pacific
48       wv         West Virginia          Eastern
49       wi             Wisconsin          Central
50       wy               Wyoming         Mountain

In [22]:
num_favorites = 20
favorite_data = {
    'id': [random.choice(sample_cars_table['id']) for _ in range(num_favorites)],
    'user_id': [random.choice(sample_users_table['user_id']) for _ in range(num_favorites)]
}

sample_favorites_table = pd.DataFrame(favorite_data)
sample_favorites_table['car_id'] = sample_favorites_table['id'].map(sample_cars_table.set_index('id')['car_id'].to_dict())

sample_favorites_table

            id   user_id  car_id
0   7313271104  58474563      28
1   7306921296  30936609      14
2   7309726002  11543547      15
3   7316695011  11543547      41
4   7315541653  32967301      18
5   7315127572  67020190      31
6   7315298657  78258299      33
7   7306651911  45361748      42
8   7306586367  45361748       6
9   7315418880  60563857       2
10  7303760016  58212432      26
11  7314088035  58212432      37
12  7306651911  78258299      42
13  7307911484  11543547      25
14  7312672944  22288084      20
15  7316681092  78258299       5
16  7303760016  11543547      26
17  7306586367  58474563       6
18  7316731256  58474563      34
19  7303213510  45361748      11

In [ ]:
# # save da files
# cars_table.to_csv('cars_table.csv', index=False)
# colors_table.to_csv('colors_table.csv', index=False)
# users_table.to_csv('users_table.csv', index=False)
# rentals_table.to_csv('rentals_table.csv', index=False)
# listings_table.to_csv('listings_table.csv', index=False)
# favorites_table.to_csv('favorites_table.csv', index=False)
# states_table.to_csv('states_table.csv', index=False)

### Data Summaries

In [28]:
lengths = []
for i in (df["url"] + df["image_url"]):
    lengths.append(len(str(i)))

max(lengths)

169

In [15]:
# lat and long
max_lat = max(df["lat"].unique())
min_lat = min(df["lat"].unique())

max_long = max(df["long"].unique())
min_long = min(df["long"].unique())

print("lat: [", min_lat, ",", max_lat, "] long: [", min_long, ",", max_long, "]")

lat: [ -84.122245 , 82.390818 ] long: [ -159.827728 , 173.885502 ]

In [19]:
df["state"].dropna().unique()

array(['al', 'ak', 'az', 'ar', 'ca', 'co', 'ct', 'dc', 'de', 'fl', 'ga',
       'hi', 'id', 'il', 'in', 'ia', 'ks', 'ky', 'la', 'me', 'md', 'ma',
       'mi', 'mn', 'ms', 'mo', 'mt', 'nc', 'ne', 'nv', 'nj', 'nm', 'ny',
       'nh', 'nd', 'oh', 'ok', 'or', 'pa', 'ri', 'sc', 'sd', 'tn', 'tx',
       'ut', 'vt', 'va', 'wa', 'wv', 'wi', 'wy'], dtype=object)

In [20]:
df["condition"].dropna().unique()

array(['good', 'excellent', 'fair', 'like new', 'new', 'salvage'],
      dtype=object)

In [23]:
user_favorites = favorites_table[favorites_table['userID'] == 'user_25764002']
user_favorites

                               favoriteID          id         userID
2    ee48c532-74cb-441b-866e-bc80d93b2983  7305679700  user_25764002
62   8bc0a3ef-2b21-4166-a4f3-3c71340284a1  7315916207  user_25764002
432  70b71a2d-2668-4515-858b-43cb648357db  7316856596  user_25764002
519  f1b6b231-3410-4140-aad3-2087e9e2f1a9  7313105260  user_25764002

In [21]:
len(df['manufacturer'].unique())

42

In [19]:
df['model'].unique()

array(['sierra 1500 crew cab slt', 'silverado 1500',
       'silverado 1500 crew', ..., 'gand wagoneer', '96 Suburban',
       'Paige Glenbrook Touring'], dtype=object)

In [20]:
len(df['model'].unique())

29667